# Python 
*.pyc
__pycache__/
*.pyo
*.pyd
venv/
env/

# Django 
db.sqlite3
*.log
*.pot
*.pyc
*.so
*.cache
*.coverage
*.mo
*.log
*.static_storage
/media/
!/static/images/


# VS Code 
.vscode/

# Environment
.env
